@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");
:root {
  --background-color: rgb(33, 33, 33);
  --second-color: #017fb1;
  --text-color: #e6e6fa;
}
body,
html {
  background-color: var(--background-color);
  color: var(--text-color);
}

.divOfBody {
  margin-left: -10px;
}
.btn {
  height: 3rem;
  margin-top: 1rem;
  width: 100%;
}
.aboutMe {
  margin-left: 0.7rem;
  color: rgb(175, 174, 174);
}
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "Raleway", sans-serif;
  margin: 0 1.5rem;
}
.iconForBtn {
  float: left;
  font-size: 1.8rem;
  padding-top: 5px;
}
.btnText {
  padding-right: 1.8rem;
  transition: 0.5s;
}
.btnText:hover {
  padding-right: 0.5rem;
}
button {
  border: none;
  background-image: linear-gradient(
    to right,
    #085078 0%,
    #639b94 51%,
    #085078 100%
  );
  margin: 10px;
  padding-left: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
}
.char {
  transition: 0.2s;
}
.char:hover,
.icon:hover {
  color: var(--second-color);
}

.btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.icon {
  font-size: 1.2rem;
  padding-left: 1.4rem;
  color: rgb(97, 96, 96);
  transition: 0.3s;
}
.btnLink {
  text-decoration: none;
}
.divOfpic {
  margin: 0 auto;
  box-shadow: 1px 1px 300px -20px rgb(28, 123, 161);
  border-radius: 50%;
}
.picOfMe {
  width: 34vh;
  height: 34vh;
  margin: 0 auto;
  border-radius: 50%;
}
.repoLink {
  color: var(--second-color);
  text-decoration: none;
}
.containerOfIcons {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  gap: 0.8rem;
}
#link {
  text-decoration: none;
  color: rgb(97, 96, 96);
}
.PortfolioGhIcon {
  font-size: 1.2rem;
}
.heading {
  margin-left: 0.6rem;
}
.sourceDiv {
  margin: 0 0 2rem -0.5rem;
}
.emailPhoneDiv {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.infoTxt {
  width: fit-content;
}

a {
  text-decoration: none;
  font-family: "Roboto Slab", serif;
  color: rgb(97, 96, 96);
  transition: 0.2s;
}
.infoTxt:hover {
  color: var(--second-color);
}
@media screen and (min-width: 1005px) {
  .App {
    width: 90%;
    margin: 1rem 5rem;
    flex-direction: row-reverse;
    align-items: center;
    gap: 4rem;
  }
  .picOfMe {
    width: 70vh;
    height: 70vh;
  }
  .heading {
    font-size: 4rem;
  }
  .divOfpic {
    border-radius: 50%;
  }
  .btn {
    width: 60%;
  }
}
@media (max-width: 382px) {
  a,
  .icon {
    font-size: 13px;
  }
}
