@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,100&display=swap");
:root {
  --background-color: rgb(33, 33, 33);
  --second-color: #00b7ff;
  --text-color: #e6e6fa;
}
body,
html {
  background-color: var(--background-color);
  color: var(--text-color);
}
.btn {
  height: 3rem;
  margin-top: 1rem;
  width: 100%;
}
.aboutMe {
  color: rgb(175, 174, 174);
}
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 2.5rem;
  font-family: "Raleway", sans-serif;
}
.iconForBtn {
  float: left;
  font-size: 1.8rem;
  padding-top: 5px;
}
.btnText {
  /* font-size: 0.9rem; */
  padding-right: 1.8rem;
}

button {  
  border: none;

  background-image: linear-gradient(
    to right,
    #085078 0%,
    #639b94 51%,
    #085078 100%
  );
  margin: 10px;
  padding-left: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
}
.char {
  transition: .2s;
}
.char:hover,
.icon:hover {
  color: var(--second-color);
}
.btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.containerOfIcons {
  margin-top: 1rem;
}
.icon {
  font-size: 1.2rem;
  padding-left: 1rem;
  color: rgb(97, 96, 96);
  transition: .3s;
}
.btnLink {
  text-decoration: none;
}
.picOfMe {
  width: 18rem;
  height: 34vh;
  margin: 0 auto;
  border-radius: 50%;
}
.repoLink {
  color: var(--second-color);
  text-decoration: none;
}
@media screen and (min-width: 480px) {
}
