@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");
:root {
  --background-color: rgb(33, 33, 33);
  --second-color: #017fb1;
  --text-color: #e6e6fa;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Raleway", sans-serif;
}

.app {
  margin: 0 2rem;
}

.btn {
  height: 3rem;
  margin-top: 1rem;
  width: 97%;
}

.aboutMe {
  font-size: 19px;
  margin-left: 0.7rem;
  width: 60%;
  font-weight: bold;
  line-height: 1.9rem;
  color: rgb(175, 174, 174);
}

.btnsContainer {
  width: auto;
}

.iconForBtn {
  float: left;
  font-size: 1.8rem;
  padding-top: 5px;
}

.btnText {
  padding-right: 1.8rem;
  font-weight: bold;
  transition: 0.5s;
}

.btnText:hover {
  padding-right: 0.5rem;
}

button {
  border: none;
  background-image: linear-gradient(
    to right,
    #085078 0%,
    #639b94 51%,
    #085078 100%
  );
  margin: 10px;
  padding-left: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
}

.char {
  transition: 0.2s;
}

.char:hover,
.icon:hover {
  color: var(--second-color);
}

.btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.icon {
  font-size: 1.2rem;
  padding-left: 1.4rem;
  color: rgb(97, 96, 96);
  transition: 0.3s;
}

.btnLink {
  text-decoration: none;
}

.repoLink {
  color: var(--second-color);
  text-decoration: none;
}

.containerOfIcons {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  gap: 0.8rem;
}

#link {
  text-decoration: none;
  color: rgb(97, 96, 96);
}

.PortfolioGhIcon {
  font-size: 1.2rem;
}

.heading {
  margin-left: 0.6rem;
}

.emailPhoneDiv {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.infoTxt {
  width: fit-content;
}

a {
  text-decoration: none;
  font-family: "Roboto Slab", serif;
  color: rgb(97, 96, 96);
  transition: 0.2s;
}

.infoTxt:hover {
  color: var(--second-color);
}
@media screen and (min-width: 1005px) {
  .heading {
    font-size: 4rem;
  }

  .btn {
    width: 35%;
    max-width: 35%;
  }
}

@media (max-width: 382px) {
  a,
  .icon {
    font-size: 13px;
  }
}
